.wrapper {
  flex: 1 1 auto;
  flex-direction: row;
  background: none;
}

.content {
  background: none;
  width: 73%;
}

.main-content {
  background: none;
  padding-right: 30px;
}

.main-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.step-header {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 36px;
  color: #FF8A00;
  margin: 0;
}

.delivery-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.basic-information {
  width: 56.5%;
}

.dropshipper-information {
  width: 41%;
}

.summary-wrapper {
  background: unset;
  width: 27%;
  padding-left: 20px;
  border-left: 0.5px solid #FF8A00;
}

.summary-header {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  color: #FF8A00;
  margin: 0;
  padding: 10px 0px;
}

.submit-button {
  padding: 20px 0px;
  font-size: 18px;
  font-weight: 500;
  height: unset;
}