.wrapper {
  background-color: #FFFAE6;
}

.content-layout {
  display: flex;
  position: relative;
  padding: 50px;
  min-height: 100vh;
  box-shadow: 12px 13px 14px -5px rgba(0,0,0,0.48) !important;
  -webkit-box-shadow: 12px 13px 14px -5px rgba(0,0,0,0.48) !important;
  -moz-box-shadow: 12px 13px 14px -5px rgba(0,0,0,0.48) !important;
}

.main-content {
  padding: 24px;
  flex: 1 1 auto;
}

.content-layout .main-content {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.content-navigation {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 15px;
  border-radius: 50px;
  background-color: #FFFAE6;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 550px;
}

.main-header {
  padding: 0px 24px;
  margin-bottom: 14px;
}

.step-content {
  display: flex;
  flex-grow: 1;
  padding: 0px 24px;
}

.back-btn {
  padding: 0;
  border: 0;
  box-shadow: none;
}

.back-btn:focus{
  color: #000;
}

.back-btn:hover, .back-btn:active {
  color: #FF8A00;
}

.back-btn[ant-click-animating-without-extra-node='true']::after{display:none;}

.step-content-wrapper {
  flex: 1 1 auto;
  flex-direction: row;
  background: unset;
}
